[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pulseaudio Equalizer Auto-Apply
Exec=apply-equalizer
Terminal=false
Type=Application
Categories=
GenericName=
X-GNOME-Autostart-Phase=Initialization
NoDisplay=true
